process {
    withName: MKREF {
        publishDir = [
            path: {"./"},
            mode: 'copy',
            ]
        ext.prefix = "${params.out_genome_name}"
        ext.args.gtf = { [
            'filtered.gtf',
            (params.attribute_filter) ? "${params.attribute_filter.each{return '--attribute=' + $it } } " : ''
        ].join(' ').trim() }
    }
}