process {
    withName: MKREF {
        publishDir = [
            path: {"./"},
            mode: 'copy',
            ]
        ext.prefix = "${params.out_genome_name}"
        ext.args = { [
            'filtered.gtf',
            (params.attribute_filter)
            ? (params.attribute_filter.class == String ? params.attribute_filter.split(',') as List : params.attribute_filter).collect{'--attribute=' + it}.join(' ')
            : ''
        ].join(' ').trim() }
    }
}