process {
    // favor 6th gen ec2
    withLabel: 'CR'{
        $sbgAWSInstanceHint = ((params.cr_cpus <= 8) ? (params.cr_ram <= 16 ? "c6i.2xlarge" : (params.cr_ram <= 32 ? "m6i.2xlarge" : "r6i.2xlarge")) :
        (params.cr_cpus <= 16) ? (params.cr_ram <= 32 ? "c6i.4xlarge" : (params.cr_ram <= 64 ? "m6i.4xlarge" : "r6i.4xlarge")) :
        (params.cr_cpus <= 32) ? (params.cr_ram <= 64 ? "c6i.8xlarge" : (params.cr_ram <= 128 ? "m6i.8xlarge" : "r6i.8xlarge")) :
        (params.cr_cpus <= 64) ? (params.cr_ram <= 128 ? "c6i.16xlarge" : (params.cr_ram <= 256 ? "m6i.16xlarge" : "r6i.16xlarge")) :
        null)
    }
    // Clear out FASTQs, transcriptome, and output dir results, as the tar ball will suffice
    withName: MKREF {
        afterScript = { "rm -rf $fasta $gtf" }
    }
}