process {
     withName: ANALYZE_SEURAT_OBJECT {
        afterScript = { "rm -rf $initial_seurat_object data" }
    }
    withName: CREATE_IMAGES_DGE {
        afterScript = { "rm -rf $analyzed_seurat_object" }
    }
    withName: COLLATE_ANALYSIS {
        afterScript = { "rm -rf ${input_dirs.join(' ')}" }
    }
    withName: TAR_OUTPUTS {
        afterScript = { "rm -rf $input_dir" }
        $sbgAWSInstanceHint='c5.xlarge;ebs-gp2;100'
    }

}