params {
    // general parameters
    r_lib_path = "/usr/local/lib/R/site-library/"
    project = ""
    // info about input seurat object parameters
    existing_analysis_tar = "" // tar ball of analysis from previous run
    user_analyzed_seurat_object_meta_sample = "Sample" // meta data character string to access 'Sample' in seurat object (e.g., Samples, sample_name')
    user_analyzed_seurat_object_meta_experiment = "Experiment" // meta data character string to access 'Experiment' in seurat object (e.g., Experiment, Conditions)
    user_analyzed_seurat_object_meta_annotation = "" // meta data character string that holding annotation information in seurat object (e.g., celltypes, annotation_layer)
    user_umap_reduction = "" // umap reduction in supplied seurat object (e.g., standard.cca.umap)
    user_tnse_reduction = "" // tsne reduction in supplied seurat object (e.g., standard.rpca.tsne)
    organism = "human"
    annotate_provided_final_seurat_object = "n" // annotate seurat object? (y/n)
    prelim_config = ""
    sample_list = ""

    // final analysis params to apply
    min_pct = 0.1 // minimmum % of cells in one of compared groups for dge
    avg_log2fc_threshold = 1.5 // filtering DEGs (avg_log2FC) -- single value: e.g., 0.1 (longer) 2.5 (shorter)
    final_filtering_threshold = 0.10 //filtering threshold/value of adj.p.value for pathway/gsea results -- single value: e.g., 0.05
    final_seurat_normalization_method =  "standard" // final normalization method for Seurat (standard, sct) -- choose only one
    final_seurat_integration_method = "harmony" // final integration method for seurat (cca, rpca, harmony) -- choose only one
    final_resolution = 0.1 // final resolution value -- single value: e.g., 0.5
    cluster_annotation_file = "" // aka, celltype_assignment_file. tsv file with names of new clusters with headers: cluster, celltypes. If trajectory analysis to be partitions, also: partition
    final_storage = "rds" // final storage format (rds,sceo,cloupe,cellchat,cellphone)
    final_user_gene_file = "" // relative path with filename to file containing genes of interest
    final_visualization = "dot" // which visualization for final_user_gene_file (feature,violin,ridge,dot) -- choose 1, more, or leave blank
    final_conserved_genes = "n" // run conserved genes (y/n) -- only run with multiple experiments
    final_threads = 30
    memory_mb = 30000
    // run trajectory analysis 
    run_trajectory_analysis = false // run Monocle3 trajectory analysis? boolean -- optional
    partition_trajectory = "y" // if y, CLUSTER_ANNOTATION_FILE needs a column called 'partition' with a value for each cluster

    // misc
    max_memory = "128 GB"
    max_time = "12h"
    max_cpus = 96
    outdir = "./results"
    // platform flags
    aws_test_instance = false
    sbg_run = false
}

includeConfig 'conf/base.config'
includeConfig 'conf/kids_first.config'
if (params.aws_test_instance){ includeConfig 'conf/aws_instance_test.config' }
if (params.sbg_run){ includeConfig 'conf/sbg.config' }

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
// from: https://github.com/nf-core/sarek/blob/master/nextflow.config
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
