process {
    withName: DOUBLETFINDER {
        publishDir = [
            path: {$output_dir},
            mode: 'copy',
            pattern: {"$output_dir/*"},
            overwrite: false
        ]
    }
    withName: SOUPX {
        publishDir = [
            path: {"$output_dir"},
            mode: 'copy',
            pattern: {"*.*"},
            overwrite: false
        ]
    }
}