process {
    withName: DOUBLETFINDER {
        publishDir = [
            path: {"./"},
            mode: 'copy',
            overwrite: false
        ]
    }
    withName: SOUPX {
        publishDir = [
            path: {"./"},
            mode: 'copy',
            overwrite: false
        ]
    }
}