process {
    withName: FINAL_REPORT {
        publishDir = [
            path: "./results/final_report",
            mode: 'copy',
            pattern: "*.html"
            ]
    }
    withName: TAR_OUTPUTS {
        publishDir = [
            path: {"./results/final_analysis_tar"},
            mode: 'copy',
            ]
    }
}