
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'
process {
    withName:SOUPX{
        container='swans:v2.1.0'
    }
    withName:ANALYZE_SEURAT_OBJECT{
        container='swans:v2.1.0'
    }
    withName:COLLATE_ANALYSIS{
        container='swans:v2.1.0'
    }
    withName:CREATE_INITIAL_SEURAT{
        container='swans:v2.1.0'
    }
    withName:CREATE_IMAGES_DGE{
        container='swans:v2.1.0'
    }
    withName:DOUBLETFINDER{
        container='swans:v2.1.0'
    }
}