
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'
process {
    withName:SOUPX{
        container='pgc-images.sbgenomics.com/d3b-bixu/swans:v2.1.0'
    }
    withName:CREATE_INITIAL_SEURAT{
        container='pgc-images.sbgenomics.com/d3b-bixu/swans:v2.1.0'
    }
    withName:DOUBLETFINDER{
        container='pgc-images.sbgenomics.com/d3b-bixu/swans:v2.1.0'
    }
}