process {
    withName: TAR_OUTPUTS {
        publishDir = [
            [
                path: {"./results/doubletfinder"},
                pattern: "*doubletFinder.tar.gz",
                mode: 'copy',
            ],
            [
                path: {"./results/soupx"},
                pattern: "*soupX.tar.gz",
                mode: 'copy',
            ],
            [
                path: {"./results/initial_seurat_qc"},
                pattern: "*initial_seurat_qc.tar.gz",
                mode: 'copy',
            ]
        ]
    }
    withName: CREATE_INITIAL_SEURAT {
        publishDir = [
            [
                path: "./results/seurat_qs",
                mode: 'copy',
                pattern: "*.qs"
            ],
            [
                path: "./results/seurat_qc_report",
                mode: 'copy',
                pattern: "*.html"
            ]
        ]
    }
}