process {
    withName: TAR_OUTPUTS {
        publishDir = [
            [
                path: {"./results/doubletfinder"},
                pattern: "*doubletFinder.tar.gz",
                mode: 'copy',
            ],
            [
                path: {"./results/soupx"},
                pattern: "*soupX.tar.gz",
                mode: 'copy',
            ],
            [
                path: {"./results/initial_seurat_qc"},
                pattern: "*initial_seurat_qc.tar.gz",
                mode: 'copy',
            ]
        ]
    }
    withName: CREATE_INITIAL_SEURAT {
        publishDir = [
            [
                path: "./results/seurat_qs",
                mode: 'copy',
                pattern: "*.qs"
            ],
            [
                path: "./results/seurat_qc_report",
                mode: 'copy',
                pattern: "*.html"
            ]
        ]
    }
    withName: ANALYZE_SEURAT_OBJECT {
        ext.args = { [
            params.cc_method ? "--cc_method $params.cc_method" : '',
            (params.run_azimuth == "y") ? "--azimuth_ref $params.azimuth_ref" : '',
            (params.ref_based_integration == "y") ? "--ref_samples $params.ref_samples" : '',
            (params.run_transferdata == "y") ? "--transferdata_ref_file $params.transferdata_ref_file --transferdata_reduction $params.transferdata_reduction --transferdata_annocol $params.transferdata_annocol" : '',
            (params.regression_file) ? "--regression_file $params.regression_file" : '',
        ].join(' ').trim() }
    }
    withName: CREATE_IMAGES_DGE {
        ext.args = { [
            (params.user_gene_file) ? "--user_gene_file $params.user_gene_file" : '',
        ].join(' ').trim() }
        }

}