process {
    withName: ANALYZE_SEURAT_OBJECT {
        container = 'migbro/swans:alpha'
    }
    withName: CREATE_INITIAL_SEURAT {
        container = 'migbro/swans:alpha'
        $sbgAWSInstanceHint='c6i.2xlarge'
    }
    withName: DOUBLETFINDER {
        container = 'migbro/swans:alpha'
    }
    withName: SOUPX {
        container = 'migbro/swans:alpha'
        $sbgAWSInstanceHint='c6i.2xlarge'
    }
    withName: CREATE_IMAGES_DEG {
        container = 'migbro/swans:alpha'
    }
    withName: COLLATE_ANALYSIS {
        container = 'migbro/swans:alpha'
    }
}