process {
    withName: ANALYZE_SEURAT_OBJECT {
        container = 'migbro/swans:alpha'
        afterScript = { "rm -rf $initial_seurat_object data" }
    }
    withName: CREATE_INITIAL_SEURAT {
        container = 'migbro/swans:alpha'
        $sbgAWSInstanceHint='c6i.2xlarge;ebs-gp2;100'
        afterScript = { "rm -rf $collated_data prelim_configs.yaml samples.sample_list" }
    }
    withName: DOUBLETFINDER {
        container = 'migbro/swans:alpha'
        afterScript = { "rm -rf $input_dir data" }
    }
    withName: SOUPX {
        container = 'migbro/swans:alpha'
        $sbgAWSInstanceHint='c6i.2xlarge;ebs-gp2;100'
        afterScript = { "rm -rf $input_dir data" }
    }
    withName: CREATE_IMAGES_DGE {
        container = 'migbro/swans:alpha'
        afterScript = { "rm -rf $analyzed_seurat_object" }
    }
    withName: COLLATE_ANALYSIS {
        container = 'migbro/swans:alpha'
        afterScript = { "rm -rf ${input_dirs.join(' ')}" }
    }
    withName: UNTAR_CR {
        afterScript = { "rm -rf $tar_file" }
    }
}