process {
    withName: CREATE_INITIAL_SEURAT {
        container = 'pgc-images.sbgenomics.com/d3b-bixu/swans:v2.1.0'
        $sbgAWSInstanceHint='c6i.2xlarge;ebs-gp2;100'
        afterScript = { "rm -rf $collated_data prelim_configs.yaml samples.sample_list" }
    }
    withName: DOUBLETFINDER {
        container = 'pgc-images.sbgenomics.com/d3b-bixu/swans:v2.1.0'
        afterScript = { "rm -rf $input_dir data" }
    }
    withName: SOUPX {
        container = 'pgc-images.sbgenomics.com/d3b-bixu/swans:v2.1.0'
        $sbgAWSInstanceHint='c6i.2xlarge;ebs-gp2;100'
        afterScript = { "rm -rf $input_dir data Rplots.pdf" }
    }
    withName: UNTAR_CR {
        afterScript = { "rm -rf $tar_file" }
        $sbgAWSInstanceHint='c6i.2xlarge'
    }
    withName: TAR_OUTPUTS {
        afterScript = { "rm -rf $input_dir" }
        $sbgAWSInstanceHint='c5.xlarge;ebs-gp2;100'
    }
}