process {
    withName: COUNT {
        publishDir = [
            path: {"./"},
            mode: 'copy',
            ]
        ext.args = { [
            (params.nosecondary) ? "-nosecondary" : "",
            "--create-bam ${params.create_bam ? 'true' : 'false'}",
            (params.include_introns) ? "--include-introns" : "",
            ].join(' ').trim()
        }
    }
    withName: MULTI {
        publishDir = [
            path: {"./"},
            mode: 'copy',
            ]
        ext.args = { [
            "--nosecondary,${params.nosecondary ? 'true' : 'false'}",
            "--create-bam,${params.create_bam ? 'true' : 'false'}",
            "--include-introns,${params.include_introns ? 'true' : 'false'}",
            ].join('\n').trim()
        }
    }
}