process {
    withName: COUNT {
        publishDir = [
            path: {"./results/"},
            mode: 'copy',
            pattern: "$params.sample/outs/*.{bam,bai,h5}",
            saveAs: { filename -> "${filename.replaceFirst("/outs/", "_")}" }
            ]
        ext.args = { [
            (params.nosecondary) ? "--nosecondary" : "",
            "--create-bam ${params.create_bam ? 'true' : 'false'}",
            (params.include_introns ? "--include-introns true" : ""),
            ].join(' ').trim()
        }
    }
    withName: MULTI {
        publishDir = [
            path: {"./results/"},
            mode: 'copy',
            pattern: "${params.library_fastq_id}/outs/per_sample_outs/*/count/*.{bam,bai,h5}",
            saveAs: { filename -> "${filename.replaceFirst("${params.library_fastq_id}/outs/per_sample_outs/", "").replaceFirst("/count/", "_")}" }
            ]
        ext.args = { [
            "nosecondary,${params.nosecondary ? 'true' : 'false'}",
            "create-bam,${params.create_bam ? 'true' : 'false'}",
            (params.include_introns ? "include-introns,true" : ""),
            ].join('\n').trim()
        }
    }
    withName: TAR_DIR {
        publishDir = [
            path: {"./results/"},
            mode: 'copy',
            ]
        }
}