process {
    // Clear out FASTQs, transcriptome, and output dir results, as the tar ball will suffice
    withName: COUNT {
        afterScript = { "rm -rf fastqs ${reads.join(' ')} ${mates.join(' ')} ${indices ? indicies.join('') : ""} $transcriptome $sample" }
    }
    withName: MULTI {
        afterScript = { "rm -rf FASTQS $sample_sheet $probe_set_csv $transcriptome $library_fastq_id" }
    }
    withName: UNTAR_REF {
        afterScript = { "rm $tar_file" }
        $sbgAWSInstanceHint='c6i.2xlarge'
    }
}